<h4>This app is created by {{name}}</h4>
{{> hello}}
<ro></ro>
<a href="#/page/1">page1</a>
<a href="#/page/2">page2</a>
<a href="#/page/3">page3</a>

<spa></spa>


{{!-- <div>
    {{> login}}
</div> --}}